*{
    margin: 0;
    padding: 0;
}
.mid-content{
    width: 1200px;
    margin: auto;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.clear::after{
    content: "";
    clear: both;
    display: block;

}
.left{
    float: left;
}
.right{
    float: right;
}
body,h1,h2,h3,h4,h5,h6,p,a,span{
    font-family: 'Work Sans', sans-serif;
}

/* header section */
.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
	width: 100%;
	background-color: white;
}
.logo-side{
    width: 30%;
}
.logo img{
    width: 100px;
}
.menu-side{
    width: 70%;
}

/* btn */
.btn a {
	line-height: 54px;
	text-decoration: none;
	color: rgb(85, 81, 81);
	border: 2px solid #5976de;
	padding: 7px 20px;
	border-radius: 10px;
    transition: .5s;
}
.btn a:hover{
    background-color: #5976de;
    color: white;
    box-shadow: 2px 2px 15px #5976de;
}
/* menu */
.menu ul {
	list-style: none;
}
.menu li {
	display: inline-block;
    position: relative;
}
.menu li a {
	text-decoration: none;
	color: black;
	padding: 0px 20px;
	line-height: 61px;
	display: block;
	text-align: center;
}

.logo a {
	text-decoration: none;
	color: black;
	font-size: 22px;
	font-weight: 600;
}

/* banner section */
.banner{
    background-image: url(https://i.postimg.cc/hvD36MBB/kobu-agency-IWLR561-Yb-MY-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0px;
    text-align: center;
    position: relative;
	z-index: 8;
    
}
.banner-text h3 {
	color: rgb(230, 218, 218);
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 20px;
}
.banner-text h2 {
	color: white;
	font-size: 50px;
	margin-bottom: 20px;
}
.banner-text a {
	display: inline-block;
	margin: 10px;
	text-decoration: none;
	padding: 14px 12px;
	background-color: white;
	color: #857575;
	border-radius: 10px;
	transition: .4s;
	font-size: 20px;
	font-weight: 500;
}
.fa.fa-android {
	margin-right: 5px;
}
.fab.fa-apple {
	margin-right: 5px;
}
.banner a:hover{
	background: #deae59;
	color: white;
}
/* overlay */
.banner::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(20, 20, 20, 0.4);
    z-index: -1;
}

.about1 {
	padding: 70px 0px;
	text-align: center;
}
.about1 h1 {
	font-size: 53px;
	margin-bottom: 41px;
}
.about1 p {
	font-size: 28px;
	color: #464646;
}

/* price section */
.price-section{
    background-color: #f7f9ff;
}
.price-text h1 {
	font-weight: 400;
}
.price-card{
    width: 30%;
    background-color: white;
    box-shadow: 1px 1px 5px #e7e2e2;
    box-sizing: border-box;
    margin-left: 40px;
    
}
.p-card {
	padding: 30px;
	border-bottom: 1px solid #878080;
    transition: .5s;
}
.p-card h3 {
	font-size: 26px;
	font-weight: 500;
	margin-bottom: 20px;
}
.p-card span {
	font-size: 19px;
}
.p-card h1 {
	font-size: 50px;
	margin-bottom: 40px;
	background-color: #e9e4e4;
    transition:.5s;
}
.p-card p {
	font-size: 20px;
	color: #3c3939;
    transition: .5s;
}
.card-list {
	padding: 20px;
}
.card-list ul {
	list-style: none;
	font-size: 20px;
	line-height: 60px;
	color: #7a7575;
}
.icolor{
    color: #ee9429;
    font-size: 30px;
    margin: 0 10px;
}
.price-card .btn a {
	padding: 12px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #8a9cdb;
	border: none;
}
.price-card .btn {
	text-align: center;
	padding: 20px;
	font-weight: 600;
	font-size: 22px;
    transition:.5s;
	
}
.price-card:hover .p-card h1{
    background-color: #ee9429;
}
.price-card:hover .p-card p{
    color: white;
    
}
.price-card:hover .p-card{
    background-color: #ee9429;
    color: white;
}
.price-card:hover .btn a{
    background-color: #ee9429;
    color: white;
}
.price-cards.clear {
	padding-bottom: 45px;
}


/* team section */
.team-title h1 {
	font-size: 48px;
	font-weight: 500;
}
.all-members{
	padding-bottom: 40px;
}
.member1{
	width: 22%;
	margin-left: 30px;
    border: 6px double #e79230;
    box-sizing: border-box;

}
.member1 .img img{
	width: 100%;
}
.bio {
	padding: 20px;
	margin-top: -5px;
}
.bio h3 {
	font-size: 23px;
	font-weight: 500;
	margin-bottom: 15px;
}
.bio p {
	font-size: 20px;
	color: #626161;
	margin-top: -10px;
}

/* newslater section */
.newslater {
	background-color: #f4f4f3;
	padding-bottom: 90px;
}
.news-title p {
	font-size: 23px;
	margin-bottom: 37px;
	color: #1a1919;
}
.news-title h1 {
	font-weight: 500;
	font-size: 47px;
}
.form-item{
	width: 50%;
	margin: auto;
	text-align: center;

}

.email {
	width: 500px;
	padding: 19px;
	font-size: 19px;
	font-weight: 348;
	color: #3d3c3c;
	outline: none;
	box-shadow: 0px 1px 8px #d8d1d1;
	border-radius: 8px;
	border: 2px solid #b1b87a;
    margin-bottom: 30px;
}
.email:focus{
	border: 3px solid #82a36c;
	box-shadow: 0px 1px 10px #6278df;
}
.button a{
	width: 200px;
	padding: 19px;
	font-size: 19px;
	font-weight: 600;
	background-color: #ac9222;
	box-shadow: 0px 1px 8px #d8d1d1;
	border-radius: 8px;
	border: 2px solid #ac9222;
	display: inline-block;
	text-decoration: none;
	color: white;
	transition: .4s;
}
.button a:hover{
	background-color: white;
	color: #ac9222;
	border: 2px solid #ac9222;
	box-shadow: 0px 1px 10px #6278df;
}
/* desciption */
.description{
    padding: 10px;
}
.des-h {
	text-align: center;
	font-size: 47px;
	margin: 20px 0;
	font-weight: 500;
}
.total-data {
	margin-bottom: 39px;
}
.total-data span {
	font-size: 23px;
	color: #686666;
	margin-left: 15px;
    
}
.total-data p {
	font-weight: 400;
	line-height: 30px;
}
.total-data h3 {
	font-size: 23px;
	color: #686666;
    margin-bottom: 20px;
}
.data{
    width: 48%;
}
.photo{
    width: 48%;
}
.photo img{
    width: 100%;
}
/* feedback section */
.feedback{
	background-color: #f5f3f3;
}
.feedback-title p {
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 20px;
}
.feedback-title h1 {
	font-size: 40px;
	font-weight: 500;
}
.lorem-sec {
	padding-bottom: 60px;
}
.lorem1{
	width: 30%;
	margin-left: 40px;
}
.lorem1{
	box-sizing: border-box;
    border: 1px solid rgb(156, 150, 150);
}
.lorem-a p {
	padding: 50px;
	text-align: center;
	color: #757474;
	font-size: 20px;
	line-height: 32px;
	position: relative;
}

.lorem-a p::before {
	content: "\f10d";
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	font-size: 74px;
	position: absolute;
	left: 37px;
	top: 37px;
	opacity: .2;
}
.lorem-a {
	position: relative;
	background-color: white;
	box-shadow: 1px 1px 10px #929ed7;
}
.lorem-a::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	margin-bottom: -24px;
	font-size: 27px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 60px 60px 0 60px;
	border-color: #ffffff transparent transparent transparent;
}
.lorem-img {
	width: 90px;
	height: 90px;
	display: inline-block;
}
.lorem-img img {
	border: 10px solid #a28a24;
	max-width: 100%;
    box-sizing: border-box;
}
.lorem-bio {
	display: inline-block;
	padding: 20px;
	position: relative;
	bottom: 20px;
}

.lorem-b {
	text-align: center;
	margin-top: 28px;
	
}
.l-name h3 {
	font-weight: 500;
}

/* bottom contact */
.form-part {
	width: 55%;
	margin: auto;
	text-align: center;
}
.form-text h3 {
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 20px;
}
.form-text p {
	font-size: 20px;
	font-weight: 300;
	color: #555151;
	line-height: 37px;
	padding-bottom: 45px;
}
.email1.email {
	width: 100%;
}
.email2.email {
	width: 42%;
}
.email3.email {
	width: 44%;
	position: relative;
	left: 40px;
}
.email4.email {
	width: 100%;
}

.for.button a {
	width: 30% !important;
	text-align: center;
}
.bottom-contact{
	padding: 60px;
}
.footer{
	text-align: center;
	padding: 22px 0;
	font-size: 18px;
	color: rgb(59, 57, 57);
}